pkgbase = gotify-server
	pkgdesc = A simple server for sending and receiving messages in real-time per WebSocket.
	pkgver = 2.7.1
	pkgrel = 1
	url = https://gotify.net/
	install = gotify-server.install
	arch = x86_64
	arch = i686
	arch = aarch64
	arch = armv7h
	license = MIT
	makedepends = git
	makedepends = go
	makedepends = gzip
	makedepends = yarn
	depends = glibc
	options = emptydirs
	backup = etc/gotify/config.yml
	source = gotify-server-2.7.1.tar.gz::https://github.com/gotify/server/archive/v2.7.1.tar.gz
	source = sysusers.d
	source = gotify-server.service
	source = config.patch
	sha256sums = b73fcb6754fe94ac0957cd59555fcfa7ecf86253d341608b56a8c22ad51a7c0d
	sha256sums = 39fc913f205bbb102ba42ce3d419f2feb0f9143f14ccffd242b3cd5f51a8c0de
	sha256sums = 8c3832004ed6f46e01ab69c993773da19b50a45862354165ed065bf3d2147b92
	sha256sums = c251cc61b80968f606df9f9840519456fa5ba5f35ced44f73fda49059ed650b6

pkgname = gotify-server
